
.navbar-nav {
  display: flex;
  // flex-direction: column; 
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }

  .dropdown-menu {
    position: static;
  }
}


