.form-control-select {
    display: block;
    width: 100%;
    padding: 0.8125rem 1.25rem;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161C2D;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #F1F4F8;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    border-radius: 0.375rem;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown-item-custom {
    width: auto;
    min-width: 100%;
    margin-left: -$dropdown-padding-x;
    margin-right: -$dropdown-padding-x;
  
    &:hover, &:focus {
      outline: none;
    }
  }